


{{ if .Site.Params.scrollprogressbar.enabled }}
<script>
document.addEventListener("DOMContentLoaded", function () {
  const progressBar = document.createElement("div");
  progressBar.id = "scrollProgressBar";
  document.body.prepend(progressBar);

  window.addEventListener("scroll", function () {
    const scrollTop = window.scrollY;
    const docHeight = document.documentElement.scrollHeight - window.innerHeight;
    const scrollPercent = (scrollTop / docHeight) * 100;
    progressBar.style.width = scrollPercent + "%";
  });
});
</script>
{{ end }}